# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Env
.env
.venv
env/
venv/
ENV/

# OS stuff
.DS_Store
Thumbs.db

# Excel stuff
*.xlsx
~$*.xlsx
!Temp_Cotizacion.xlsx
!Temp_Recepcion.xlsx
!Template.xlsx
!Template_Programacion.xlsx
!Template_Programacion_Administracion.xlsx
!Template_Programacion_Comercial.xlsx
!Template_Informe.xlsx
!Template_Compresion.xlsx
!Template_Verificacion.xlsx
!Template_Humedad.xlsx
!Template_ContHumedad.xlsx
!Template_Planas.xlsx
!Template_Proctor.xlsx
!Template_LLP.xlsx
!Template_GranSuelo.xlsx
!Template_GranAgregado.xlsx
!Template_ABRA.xlsx
!Template_ABRASCRM.xlsx
!Template_PesoUni.xlsx
!Template_Tamiz.xlsx
!app/templates/Template_Proctor.xlsx
!app/templates/Template_LLP.xlsx
!app/templates/Template_GranSuelo.xlsx
!app/templates/Template_GranAgregado.xlsx
!app/templates/Template_ABRA.xlsx
!app/templates/Template_ABRASCRM.xlsx
!app/templates/Template_PesoUni.xlsx
!app/templates/Template_Tamiz.xlsx
!app/templates/Template_ContHumedad.xlsx
!app/templates/Template_Planas.xlsx
!app/templates/Template,GE_FINO.xlsx
!app/templates/Template_CD.xlsx
!app/templates/Template_Caras.xlsx
!app/templates/Template_Cloro_Soluble.xlsx
!app/templates/Template_Compresion_No_Confinada.xlsx
!app/templates/Template_EquiArena.xlsx
!app/templates/Template_GE_GRUESO.xlsx
!app/templates/Template_PH.xlsx
!app/templates/Template_SALES_SOLUBLES.xlsx
!app/templates/Template_SULFATOS_SOLUBLES.xlsx
!app/templates/Template_Angularidad.xlsx
!app/templates/Template_Azul_Metileno.xlsx
!app/templates/Template_Cont_Mat_Organica.xlsx
!app/templates/Template_Imp_Organicas.xlsx
!app/templates/Template_Part_Livinas_Fino_Grueso.xlsx
!app/templates/Template_Sul_Magnesio.xlsx
!app/templates/Template_Terrones_Fino_Grueso.xlsx
!Temp_CBR_ASTM.xlsx
!app/templates/Temp_CBR_ASTM.xlsx
!Resumen N-XXX-26 Compresion.xlsx
!V2 - PROBETAS.xlsx
!V3 - DENSIDAD DE CAMPO Y MUESTREO.xlsx
!V4 - EXTRACCIÓN DE DIAMANTINA.xlsx
!V5 - DIAMANTINA PARA PASES.xlsx
!V6 - ALBAÑILERÍA.xlsx
!V7 - VIGA BECKELMAN.xlsx
!V8 - CONTROL DE CALIDAD DE CONCRETO FRESCO EN OBRA.xlsx
*.xls
